/*scrollbar*/
/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ee244e;
  border-radius: 10px;
}

/*main*/
body,
p
 {
  font-family: 'Courier New', monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arial, sans-serif;
}


body,
html {
  height: 100%;
  color: #dfd9f5;
  line-height: 1.8;
  margin: 0;
  background-color: #060719;
}

.text-center {
  text-align: center;
}

.container {
  padding: 5% 15%;
}

.axiom-container {
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 5%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #00000069;
  justify-content: center;
}

.footer {
  padding-bottom: 2rem;
  padding-top: 1rem;
}

/*logo*/
.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  flex-direction: column;
}

.logo-image {
  width: 40rem;
  height: auto;
}

/*background images */
.bgimg-1,
.bgimg-2 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bgimg-1 {
  background-image: url('/assets/images/main-backgr.jpg');
  min-height: 100%;
}

.bgimg-2 {
  background-image: url("/assets/images/axiom.jpg");
  min-height: 400px;
}


/*gallery*/
.gallery-container {
  padding: 5% 8%;
}

.gallery-grid {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
  grid-gap: 10px;
  padding: 0 4px;
}

.gallery-grid img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  object-fit: cover;
}


/* mobile/tablet */
@media only screen and (max-width: 1600px) {
  .axiom-container {
    height: unset;
  }

  .gallery-grid {
    grid-template-columns: repeat(auto-fit, minmax(80%, 1fr));
  }
  
}

@media only screen and (max-width: 600px) {
  .logo-image {
    width: 75%;
  }
}

